.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  top: 0;
  bottom: 0;

  width: var(--menu-width);

  background-color: var(--color-black);
  color: rgb(193, 195, 198);

  .menu-logo {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .menu {
    padding: 0;

    list-style: none;
    overflow-y: scroll;

    @include invisible-scroll;

    .menu__item {
      display: flex;
      flex-direction: column;
      align-items: center;

      padding: 10px;

      font-size: .75rem;
      text-align: center;
      cursor: pointer;
    }
  }
}
