:root {
  --color-white: rgb(255, 255, 255);
  --color-blue-dark: rgb(2, 36, 230);
  --color-blue: rgb(2, 126, 230);
  --color-blue-light: rgba(2, 127, 230, 0.5);
  --color-green: rgb(38, 142, 108);
  --color-black: rgb(17, 22, 31);
  --color-grey-dark: rgb(158, 158, 158);
  --color-grey: rgba(0, 0, 0, 0.12);
  --color-grey-light: rgba(186, 186, 186, 0.146);

  --color-primary: var(--color-blue);
  --color-secondary: var(--color-black);
  --color-tertiary: var(--color-green);
}